body {

	margin: 0;
  }
  
  .container {
	display: flex;
	flex-direction: center;
	background-color: black;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 0 20px;
	font-family: Arial, sans-serif;
  }

.company-info {
	text-align: column;
  }
  
.company-name {
	font-size: 72px;
	font-weight: bold;
	color: white;
	text-align: center;
	margin-right: 150px;
	letter-spacing: 25px;
	font-family: 'Atari', sans-serif;
  }
  
.subtitle {
	font-size: 72px;
	color: #28dbff;
	text-align: center;
	margin-right: 150px;
  }
  
.logo img {
	max-height: 60vh;
	height: auto;
}
.container2 {
	display: flex;
	flex-direction: column;
	background-color: rgb(92, 91, 87);
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 0 20px;
	font-family: Arial, sans-serif;
}
.logo2 img{
	max-height: 60vh;
	height: auto;
}
nav {
	display: inline-flex;
	position: center;
	max-width: 100%;
	background-color: rgb(109, 153, 219);
	padding: 0 20px;
	border-radius: 40px;
	box-shadow: 0 10px 40px rgba(130, 146, 228, 0.8);
    background-color: #222;
    padding: 10px;
}
	nav ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	
	nav ul li {
		display: inline;
	}
	
	nav ul li a {
		color: white;
		text-decoration: none;
		padding: 10px 20px;
	}